@import url(http://fonts.googleapis.com/css?family=Teko:300,700);

body { 

	margin: 0; 
	padding: 0;
	text-align: center; 
	font-family: teko; 
	font-size: 3em;
}

.contdown-eriod {
	padding: 5px;
}

.countdown-section {
	padding: 15px;
}